{% extends 'base.html' %}

{% block title %}
    Post {{ post.title }}
{% endblock %}

{% block content_title %}
   <h1>Post "{{ post.title }}"</h1>
{% endblock %}

{% block content %}
    <div>
        {% for tag in tags %}
            <a href="{{ url_for('posts.tag_detail', slug=tag.slug) }}">
                <span class="badge badge-primary">{{ tag.name }}</span>
            </a>
        {% endfor %}
    </div>
    <div>
        {{ post.body }}
    </div>
    <p><a href="{{ url_for('posts.post_update', slug=post.slug) }}" class="btn btn-outline-dark">Edit post</a></p>
{% endblock %}